@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-panel: var(--panel);
  --color-panel-hover: var(--panel-hover);
  --color-brand: var(--brand); /* PlayStation Blue #006FCD */
  --color-brand-light: var(--brand-light);
  --color-bronze: #cd7f32;
  --color-silver: #c0c0c0;
  --color-gold: #ffd700;
  --color-platinum: #7ee8fa;
}

:root {
  --background: #121212;
  --foreground: #ffffff;
  --panel: #1e1e1e;
  --panel-hover: #2a2a2a;
  --brand: #006FCD;
  --brand-light: #338edd;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}
